.categoryList {
    background-color: white;
    margin-top: -261px; /* Adjust the margin-top to create space between category list and subcategory list */
    padding-bottom: 140px;
    padding-right: 40px;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
   
}

.subcategoryList {
    background-color: white;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 158px;
    text-align: left;
    margin-left: -6px;
    margin-top: -261px;
    z-index: 1;
    position: absolute; /* Position subcategory list absolutely */
    left: 100%; /* Position subcategory list to the right of the category list */
    overflow-y: auto;
    height: 200px;
}

.product-view {
    background-color: aqua;
}

.category-container {
    position: relative; /* Set the position of the category container to relative */
    display: flex;
    align-items: flex-start;
}

.categoryList li:hover .subcategoryList {
    display: block; /* Show subcategories when category item is hovered */
}

.categoryList li,
.subcategoryList li {
    list-style-type: none;
    margin-bottom: 13px;
    width: 200px; /* Set a fixed width */
}

.subcategoryList li a, .categoryList li a {
    text-decoration: none; /* Remove text underline */
}

.product-name {
    color: black;
    font-weight: bold;
}

.header {
    background-color: blanchedalmond;
    padding: 10px;
}

.body {
    background-color: silver;
}

@media screen and (max-width: 768px) {
    .categoryList,
    .subcategoryList {
      overflow: visible; /* Change overflow to visible */
      width: auto; /* Remove fixed width */
      margin-left: 0; /* Remove left margin */
      margin-top: 0px;
    }
  
    .categoryList li,
    .subcategoryList li {
      width: 100%; /* Make list items take full width */
      margin-bottom: 10px; /* Adjust margin */
    }
  
    .subcategoryList {
      padding-top: 10px; /* Adjust padding */
      position: relative; /* Reset position */
      left: auto; /* Reset left */
      margin-left: 0;
    }
    .categoryList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    flex: 2;
    width: 100%;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
  }
