.product-list-container {
    margin-left: -20px;
    margin-bottom: 50px
}
.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    /*background-color: white;*/
    margin-top: 0px; 
    margin-right: 20px;
    margin-left: -110px;
    padding: 30px;
    padding-bottom: 1270px;
    overflow-y: visible;
    height: 200px;
    /*border: 1px solid #61dafb;*/
  }

  .link {
    text-decoration: none;
  }

  .display-items {
    background-color: silver;
  }
  
  .product {
    padding: 10px;
    background-color:aliceblue;
    flex-direction: row;
    display: block;
    overflow: hidden;
    height: 250px;
    padding-bottom: 40px;
    border-radius: 8px;
  }

  
  
  .product img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: -10px;
    margin-top: -10px;
  }

  .price-title {
    text-align: left;
    color: black;
  }

  .price {
    color: #00204A
  }

  .heading {
    margin-top : 10px; 
    margin-bottom: -25px;
    margin-left: -1000px;
    color: black;
  }


  .intro-h {
    margin-left: -20px;
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    display: flex;
    margin-top: -40px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    width: 100%;
  }
  
  


  /* Adjust product list layout for smaller screens */
@media screen and (max-width: 768px) {
  .search-container {
    padding: 10px; /* Adjust padding */
    margin: 0;
    background-size: contain; /* This will cover the entire container with the background image */
    background-repeat: no-repeat;
  }

  .intro-container {
    flex-direction: column; /* Switch to column layout */
    align-items: center; /* Center align elements */
    margin-top: 50px; /* Adjust margin */
    margin-bottom: 50px; /* Adjust margin */
  }

  .intro {
    padding: 20px; /* Adjust padding */
    margin: 0; /* Reset margin */
    text-align: center; /* Center align text */
    background-image: none; /* Remove background image */
  }

  .intro-h {
    visibility: hidden;
  }

  .sell-container {
    visibility: hidden;
  }

  .heading {
    margin-left: 5px;
  }

  .products-list {
    margin: 20px; 
    margin-top: 110px;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); /* Adjust grid columns */
    overflow-y: visible;
    padding-bottom: 1290px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .product-list-container {
    margin-left: -15px;
  }

  .heading {
    margin-left: 0px;
    margin-right: 250px;
  }
}