.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    background-color: white;
    margin-top: 0px; 
    margin-right: 50px;
    margin-left: -110px;
    padding: 20px;
    padding-bottom: 1270px;
    overflow-y: visible;
    height: 200px;
    margin-bottom: 100px;
    /*border: 1px solid #61dafb;*/
  }

  .display-items {
    background-color: silver;
  }
  
  .product {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #C4E4FF;;
  }

  .product-img {
    background-color: black;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }

  .heading {
    margin-top : 10px; 
    margin-bottom: 5px;
    margin-left: -950px;
    color: black;
  }

  .intro {
    background-image: url('../Image/logo3.jpg');
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: -10px;
    padding-right: 295px;
    margin-top : 250px; 
    margin-bottom: -350px;
    margin-left: -110px;
    margin-right: -50px;
    align-items: flex-start;
  }

  .intro-h {
    margin-left: -20px;
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    display: flex;
    margin-top: -40px;
   margin-left: 40px;
   text-decoration: none;
   color: black;
   width: 100%;
  }

  .intro-container {
    display: flex;
  }

  .sell-container {
    padding-left: -50px;
    padding-bottom: -20px;
    padding-right: 170px;
    margin-top: 50px;
    margin-right: 45px;
    margin-left: 60px;
    margin-bottom: -350px;
    background-image: url('../Image/logo4.jpg');
    background-size: contain; /* This will cover the entire container with the background image */
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    background-color: blue;
    
  }

  /*.search-container {
    background-color: white;
    padding-right: 350px;
    margin-left: -350px;
    margin-right: 50px;
    margin-bottom: -246px;
    padding-bottom: 160px;
    width: 100%;
    padding-top: 5px;
    background-image: url('../Image/logo5.jpg');
  }*/
  
  


  /* Adjust product list layout for smaller screens */
@media screen and (max-width: 768px) {
  .search-container {
    padding: 10px; /* Adjust padding */
    margin: 0;
    background-size: contain; /* This will cover the entire container with the background image */
    background-repeat: no-repeat;
    /*background-position: center;*/
     /* Reset margin */
  }

  .intro-container {
    flex-direction: column; /* Switch to column layout */
    align-items: center; /* Center align elements */
    margin-top: 50px; /* Adjust margin */
    margin-bottom: 50px; /* Adjust margin */
  }

  .intro {
    padding: 20px; /* Adjust padding */
    margin: 0; /* Reset margin */
    text-align: center; /* Center align text */
    background-image: none; /* Remove background image */
  }

  .intro-h {
    visibility: hidden;
  }

  .sell-container {
    visibility: hidden;
  }

  .heading {
    margin-left: 5px;
  }

  .products-list {
    margin: 20px; 
    margin-top: 110px;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); /* Adjust grid columns */
    overflow-y: visible;
    padding-bottom: 1290px;
    margin-bottom: 100px;
  }
}