.product-list-container {
    margin-left: -20px;
    margin-bottom: 50px;
    display: block;
}
.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    /*background-color: white;*/
    margin-top: 0px; 
    margin-right: 20px;
    margin-left: -160px;
    padding: 30px;
    padding-bottom: 1270px;
    overflow-y: visible;
    height: 200px;
    /*border: 1px solid #61dafb;*/
  }

  .link {
    text-decoration: none;
  }

  .display-items {
    background-color: silver;
  }
  
  .product {
    padding: 10px;
    background-color:whitesmoke;
    flex-direction: row;
    display: block;
    overflow: hidden;
    height: 230px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0.5, 0.5, 0.5, 0.7);
    
  }
  
  .product img {
    width: 265px;
    height: 180px;
    object-fit: cover;
    margin-left: -10px;
    margin-top: -10px;
  }

  .price-title {
    text-align: left;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    color: #00204A;
    font-weight: bolder;
    
  }

  .heading {
    margin-top : 100px; 
    margin-bottom: -22px;
    margin-left: -890px;
    color: black;
    font-size: 25px;
  }

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .product-list-container {
    margin-left: 20px
  }

  .heading {
    margin-left: -750px;
  }
}
  
@media screen and (max-width: 1200px) {
    .products-list {
      overflow-y: visible;
      padding-bottom: 10px;
      height: auto;
      margin-bottom: 100px;
      width: 90%;
      position: relative;
      bottom: 140px
    }

    .product {
      padding-bottom: -1000px;
      height: 200px;
    }

    .product img {
      height: 150px;
    }

    .heading {
      display: none
    }
  }

  @media screen and (min-width: 850px) and (max-width: 1200px) {
    .products-list {
      margin-top: 110px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
      margin-left: 5px;
      width: 94%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 849px) {
    .products-list {
      margin-top: 110px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      margin-left: 5px;
      width: 94%;
    }
  }

  @media screen and (min-width: 580px) and (max-width: 767px) {
    .products-list {
      margin-top: 110px;
      grid-template-columns: repeat(3, minmax(80px, 1fr));
      margin-left: 5px;
      width: 92%;
      position: relative;
      left: 5px
    }
  }

  @media screen and (min-width: 500px) and (max-width: 580px) {
    .products-list {
      margin-top: 110px;
      grid-template-columns: repeat(2, minmax(80px, 1fr));
      margin-left: 5px;
      width: 92%;
      position: relative;
      left: -5px
    }
  }

@media screen and (min-width: 200px) and (max-width: 499px) {
  .products-list {
    margin-top: 110px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    margin-left: 2px;
    width: 88%;
  }
}