.search-results-container {
  margin-top: 70px;
}

.search-results-sub-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: auto;
  }
  
  .product-item {
    background-color:whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0.5, 0.5, 0.5, 0.7);
    overflow: hidden;
    text-decoration: none;
  }
  
  .product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-details {
    padding: 20px;
    text-decoration: none;
  }

  .result-link {
    text-decoration: none;
    color: black;
  }

  .result-link:hover {
    color: darkblue;
  }

  .result-link:visited {
    color: darkred;
  }
  
  .result-title {
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  .result-price {
    margin-bottom: 10px;
    text-decoration: none;
  }
  
@media screen and (max-width: 600px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}