.create-shop-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    margin-top: 80px;
}

.form-heading {
    margin-top: -10px;
}

.create-shop-form .form-group {
    margin-bottom: 15px;
    margin-top: -10px;
}

.create-shop-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.create-shop-form .form-group input,
.create-shop-form .form-group textarea,
.create-shop-form .form-group select {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cat-select {
    margin-left: -15px;
}

.create-shop-form .form-group textarea {
    height: 100px;
    resize: vertical;
}

.create-shop-form .form-group.geo-group {
    display: flex;
    align-items: center;
    margin-left: -30px;
}

.geo-group {
    display: flex;
    margin-bottom: 10px;
}

.lat-long {
    display: block;
    margin-right: -10px;
}

.create-shop-form .form-group.geo-group label {
    margin-left: 40px;
    margin-top: 17px;
}

.create-shop-form .form-group.geo-group input {
    margin-left: 40px;
    height: 15px;
    margin-top: 0px;
    width: 100px;
}

.create-shop-form .form-group.geo-group button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    margin-left: 30px;
    margin-top: 27px;
}

.create-shop-form .form-group.geo-group button:hover {
    background-color: #0056b3;
}

.create-shop-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.create-shop-form button[type="submit"]:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width: 449px) {
    .create-shop-form {
        border: none;
    }
    .create-shop-form .form-group.geo-group {
        display: block;
    }

    .create-shop-form .form-group.geo-group button {
        margin-left: 41px;
        margin-top: 10px;
    }
}