.fs-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .fs-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    margin-left: -10px;
    margin-top: 100px;
  }
  
  .fs-shop-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  
  .fs-shop-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
  }
  
  .fs-shop-item:hover {
    transform: scale(1.02);
  }
  
  .fs-shop-image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .fs-shop-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fs-shop-name {
    font-size: 18px;
    font-weight: 500;
  }
  
  .fs-show-all-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .fs-show-all-button:hover {
    background-color: #0056b3;
  }
  