/* SearchResultsComponent.css */

.sh-results-container {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: -20px;
  }
  
.sh-results-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  }
  
.sh-results-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  }
  
.sh-shop-card {
  background-color: #FCF8F3;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0.3, 0.3, 0.3, 0.3); 
  transition: transform 0.3s ease;
  }
  
.sh-shop-card:hover {
  transform: translateY(-5px);
  }
  
.sh-shop-header {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.sh-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-top: -30px;
  background-color: wheat
}
  
.sh-shop-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  }
  
.sh-shop-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 40px;
  }
  
.sh-shop-name {
  font-size: 20px;
  color: #007bff;
  margin-top: -30px;
  }
  
.sh-shop-distance,
 .sh-shop-address {
  font-size: 14px;
  color: #555;
  margin-top: -10px;
  }
  
.sh-shop-description {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
  text-align: left;
  }
  
.sh-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: -10px;
  }
  
.sh-message-button,
.sh-whatsapp-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  }
  
.sh-whatsapp-button {
  background-color: #1679AB;
  }
  
.sh-message-button:hover,
.sh-whatsapp-button:hover {
  opacity: 0.8;
}
  
.sh-no-results {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
  }
  
.sh-back-link {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  }
  
.sh-back-link:hover {
  text-decoration: underline;
}

.rv-category-badge {
  background-color: silver;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.rv-shop-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.rv-visited-at {
  font-size: 0.8em;
  color: #6c757d;
  margin-top: -20px;
}

.sh-results-header {
  text-align: left;
  margin-bottom: -60px;
  margin-left: 10px;
  margin-top: 100px;
}

.rv-show-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  align-self: center;
  transition: background-color 0.3s;
  text-decoration: none;
}

.rv-results-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  width: 100%;
  max-width: 1200px;
  }
  
.sh-results-header {
  margin-left: 10px;
}