/* ShopSubCategoryList.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
  }
  
  .sb-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .sb-heading {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bolder;
    position: relative;
  }
  
  .sb-heading::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #007BFF;
    margin: 10px auto;
  }
  
  .sb-loading {
    text-align: center;
    font-size: 1.5em;
    color: #007BFF;
    margin-top: 50px;
  }
  
  .sb-category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sb-category-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    max-width: calc(25% - 40px);
    font-weight: bolder;
  }
  
  .sb-category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .sb-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 20px;
  }
  
  .sb-category-details {
    text-align: center;
  }
  
  .sb-product-name {
    font-size: 1.25em;
    font-weight: 500;
    color: #007BFF;
    display: block;
    margin-bottom: 10px;
  }
  
  @media (max-width: 992px) {
    .sb-category-item {
      flex: 1 1 calc(33.333% - 40px);
      max-width: calc(33.333% - 40px);
    }
  }
  
  @media (max-width: 768px) {
    .sb-category-item {
      flex: 1 1 calc(50% - 40px);
      max-width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 576px) {
    .sb-category-item {
      flex: 1 1 calc(100% - 40px);
      max-width: calc(100% - 40px);
    }
  }
  